<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="SelectedClass" value="null" />
		<add key="SelectedFontSize" value="null" />
		<add key="SelectedColor" value="null" />
	</appSettings>
</configuration>